/* HTML and body area */
html, body {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    background-color: lightgray;
}

/* Nav bar area */
#nav-bar-area {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 4rem;
    margin: 0;
    padding: 0;

    background-color: black;
}

#website-name-text {
    font-size: 1.5rem;

    color: white;
}

#nav-bar-area #navigation-links-subarea {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    width: 25%;
}

#nav-bar-area .navigation-text p {
    font-size: 1.5rem;

    color: white;
}

/* Content area */
#content-area {
    display: flex;
    flex-direction: column;
}

/* Hero area */
#hero-area {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    height: calc(100vh - 4rem);

    background-color: white;
}

#title-sub-area {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#harmoniXfer-title {
    font-size: 8rem;
    padding: 8px;
    border-radius: 8px;
    margin-bottom: 0px;
}

#harmoniXfer-caption {
    font-size: 2em;
    margin-top: 0px;
}

#transfer-song-button {
    background-color: green;
}

#how-it-works-area {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.marquee {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
}

.marquee span {
    display: inline-block;
    padding-right: 100%;
    animation: marquee 4s linear infinite;
}

@keyframes marquee {
    0%   { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}


