/* HTML and body area */
html, body {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    background-color: lightgray;
}

/* Nav bar area */
#nav-bar-area {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 4rem;
    margin: 0;
    padding: 0;

    background-color: black;
}

#website-name-text {
    font-size: 1.5rem;

    color: white;
}

#nav-bar-area #navigation-links-subarea {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    width: 25%;
}

#nav-bar-area .navigation-text p {
    font-size: 1.5rem;

    color: white;
}

/* Content area */
#content-area {
    display: flex;
    flex-direction: column;
}

/* Hero area */
#hero-area {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    height: calc(100vh - 4rem);

    background-color: white;
}

#title-sub-area {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#harmoniXfer-title {
    font-size: 8rem;
    padding: 8px;
    border-radius: 8px;
    margin-bottom: 0px;

    transition: all 2s ease;
}

    #harmoniXfer-title.animate {
        transform: translateX(-2em);
        text-align: left;
    }

#harmoniXfer-caption {
    font-size: 2em;
    margin-top: 0px;

    transition: all 2s ease;
}

    #harmoniXfer-caption.animate {
        transform: translateX(-8em);
        text-align: left;
    }

#transfer-song-button { 
    width: 12.5%;
    aspect-ratio: 4/1;
    border-radius: 8px;
    font-size: 1.5rem;

    transition: all 2s ease;

    background-color: rgb(0, 168, 0);
}

    #transfer-song-button.animate {
        transform: translateX(-8em);
    }

/* How it works area */
#how-it-works-area {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#card-area {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    width: 100%;
}

#youtube-to-spotify {
    width: 22.5%;
    aspect-ratio: 1/1.4;

    background-color: red;
}

#database {
    width: 22.5%;
    aspect-ratio: 1/1.4;

    background-color: rgb(255, 204, 0);
}

#spotify-to-youtube {
    width: 22.5%;
    aspect-ratio: 1/1.4;

    background-color: green;
}