/* ========== HTML and body area  ==========*/
html, body {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: -3;

    background-color: lightgray;
}



/* ========== Nav bar area ========== */
#nav-bar-area {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 5rem;
    margin: 0;
    padding: 0;

    background-color: black;
}

#website-name-text {
    font-size: 2rem;

    color: white;
}

#nav-bar-area #navigation-links-subarea {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    width: 25%;
}

#nav-bar-area .navigation-text p {
    font-size: 2rem;
}

#home p, #transfer p, #about p {
    color: rgb(52, 226, 52);
}



/* ========== Hero area ==========  */
#hero-area {
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: -2;

    background-color: white;
}

#title-caption-button {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    
    width: 60%;
    height: calc(100vh - 4rem);

    z-index: 5;
}

#title-sub-area {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#harmoniXfer-title {
    font-size: 8rem;
    padding: 0px;
    border-radius: 8px;
    margin-bottom: 0px;

    transition: all 2s ease;
    transform: translateX(calc(50vw - 50%));
}

    #harmoniXfer-title.animate {
        text-align: left;

        transform: translateX(1em);
    }

    /* Jump animation for HarmonXfer title */
    #harmoniXfer-title span {
        display: inline-block;
        animation: jump 0.5s ease-in-out 1;
    }

    @keyframes jump {
        0%, 100% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-24px);
        }
    }

    #harmoniXfer-title span:nth-child(1) {animation-delay: 0.10s;}
    #harmoniXfer-title span:nth-child(2) {animation-delay: 0.20s;}
    #harmoniXfer-title span:nth-child(3) {animation-delay: 0.30s;}
    #harmoniXfer-title span:nth-child(4) {animation-delay: 0.40s;}
    #harmoniXfer-title span:nth-child(5) {animation-delay: 0.50s;}
    #harmoniXfer-title span:nth-child(6) {animation-delay: 0.60s;}
    #harmoniXfer-title span:nth-child(7) {animation-delay: 0.70s;}
    #harmoniXfer-title span:nth-child(8) {animation-delay: 0.80s;}
    #harmoniXfer-title span:nth-child(9) {animation-delay: 0.90s;}
    #harmoniXfer-title span:nth-child(10) {animation-delay: 1.00s;}
    #harmoniXfer-title span:nth-child(11) {animation-delay: 1.10s;}

#harmoniXfer-caption {
    font-size: 2em;
    margin-top: 0px;

    transition: all 2s ease;
    transform: translateX(calc(50vw - 100%));
}

    #harmoniXfer-caption.animate {
        transform: translateX(-1.8em);
        text-align: left;
    }

#transfer-song-button { 
    width: 12.5%;
    aspect-ratio: 4/1;
    border-radius: 8px;
    font-size: 1.5rem;

    transition: all 2s ease;
    transform: translateX(calc(50vw - 50%));

    background-color: rgb(0, 168, 0);
}

    #transfer-song-button.animate {
        transform: translateX(5.4em);
    }

#image {
    width: 500px;
    height: 600px;
    box-sizing: border-box;
    padding: 8px;
    border-radius: 16px;
    position: relative;

    background-color: white;
}

    /* Fade in */
    #image.appear-fade-in {
        width: 500px;
        height: 600px;

        animation: fadeIn 1.5s linear;

        background-color: green;
    }

    @keyframes fadeIn {
        from {
            background-color: white;
        }
        to {
            background-color: green;
        }
    }


    /* Border animation */
    @property --angle {
        syntax: "<angle>";
        initial-value: 0deg;
        inherits: false;
    }

    #image::after, #image::before {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        background-image: conic-gradient(from var(--angle), transparent 50%, yellow, orange, red);
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        z-index: -1;
        border-radius: 16px;
        padding: 8px;
        animation: 10s spin linear infinite;

        opacity: 0;
        transition: opacity 3s linear;
    }

        @keyframes spin {
            from {
                --angle: 0deg;
            }
            to {
                --angle: 360deg;
            }
        }

    #image.appear-fade-in::after, #image.appear-fade-in::before {
        transition-delay: 1s;
        opacity: 1;
    }

    #image.appear-fade-in::before {
        filter: blur(1.5rem);
        opacity: 0.5;
    }

/* ========== How it works area ========== */
#transfer-songs-area {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#card-area {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    width: 100%;
}

#youtube-to-spotify {
    width: 22.5%;
    aspect-ratio: 1/1.4;

    background-color: red;
}

#database {
    width: 22.5%;
    aspect-ratio: 1/1.4;

    background-color: rgb(255, 204, 0);
}

#spotify-to-youtube {
    width: 22.5%;
    aspect-ratio: 1/1.4;

    background-color: green;
}



/* ========== Footer area ========== */